main {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 0px;
    background-color: rgb(99, 131, 226);
    border: none;
}

app-square {
    border: 1px gray solid;
    height: 200px;
}

.separation h1,
h2 {
    text-align: center;
    margin: 10px;
    color: #fff
}



.forInput {
    text-align: center;
    margin: 10px;
}

.setPlace {
    position: fixed;
    top: 240px;
}