* button {
    height: 200px;
    width: 200px;
    font-size: 80px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #cfb5fe;
    border: none;

}

button:hover {
    background-color: #92eefa
}

button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

* {
    margin: 0;
}

.class-for-x {
    background-color: red;
}

.class-for-o {
    background-color: blue;
}